---
import Link from "../ui/Link.astro";
import { socialLinks } from "@/data/social-links";
---

<div class="flex items-center justify-center lg:justify-start gap-4 pt-4">
  {
    socialLinks.map(({ href, icon: Icon, label, external }) => (
      <Link
        isIconOnly
        href={href}
        target={external ? "_blank" : undefined}
        aria-label={label}
        class="text-zinc-600 dark:text-zinc-400"
      >
        <Icon class="w-5 h-5 sm:w-6 sm:h-6" />
      </Link>
    ))
  }
</div>
