@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --default-transition-duration: .15s;
  --default-transition-timing-function: cubic-bezier(.4,0,.2,1);
  --default-font-family: var(--font-geist-sans);
  --default-mono-font-family: var(--font-geist-mono);


  --animate-fade-in-up: fade-in-up .6s ease-out forwards;
  --animate-pulse-slow: pulse-slow 3s ease-in-out infinite;
  --animate-shake: shake 0.5s ease-in-out;

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes pulse-slow {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }

  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
  }
}

.animate-fade-in-up:nth-child(1) { animation-delay: 0.2s; }
.animate-fade-in-up:nth-child(2) { animation-delay: 0.6s; }
.animate-fade-in-up:nth-child(3) { animation-delay: 0.10s; }

@media (prefers-reduced-motion: no-preference) {
  .tech-carousel {
    animation: scroll-left 30s linear infinite;
  }

  .tech-carousel:hover {
    animation-play-state: paused;
  }
}

@keyframes scroll-left {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}