<button
  class="inline-flex items-center px-4 sm:px-6 py-2.5 sm:py-3 rounded-lg bg-violet-600 hover:bg-violet-700 text-white text-sm sm:text-base transition-colors cursor-pointer shadow-lg hover:shadow-xl"
>
  <slot name="start" />
  <slot />
  <slot name="end" />
</button>
